<% if @poets.any? %>
  <% @poets.each do |poet| %>
    <%= simple_format(poet.name) %>
  <% end %>
<% else %>
  <h3>The Poets are gone</h3>
  <h3>To revive the tradition</h3>
  <h3>Please sign in and share</h3>
<% end %>