<div id ='poem-create-messager'></div>
<form id="new-poem" name="post">
    <label for="title"> Title</label>
    <input type="text" name="title" id="title" placeholder="Title (optional)" >
    <label for="content"> Poem</label>
    ​<textarea id="content" placeholder="Poem (required)"></textarea>
    <input type="submit" class="button-custom" value="Create Poem" /> <span id="content-counter">140</span>
</form>