<h4 class='title'><%= poem.title %></h4>
<h5 class='content'><%= poem.content %></h5>
<div>
  <div class= 'author-box'>
    <h5 class='author small-9 small-centered columns'> - <%= author.name %></h5> 
    <% if (author.name != 'anonymous') { %>
      <img src=<%= author.prof_image_url %>> 
    <% } %>
  </div>
</div>
<div class='snap-area'></div>