<!-- <div id ='left-bar' class="large-5 columns">
</div> -->
<div id ='left-bar'></div>
<div id ='about-bar'></div>
<div id ='right-bar'></div>
<!-- <div id ='right-bar' class="large-6 large-offset-1 columns"></div> -->

<script type="text/javascript">

     $(function () {
       var div = $('<div></div>');
       div.html($('#bootstrap').text());
       var data = JSON.parse(div.text());

       HaikuApp.initialize(data);
     });
</script>

<script type="text/json" id="bootstrap">
  {
    "poems": <%= @poems.to_json(include: 
                                { poet: { only: [:id, :name, :prof_image_url] } })%>,
    "poets": <%= @poets.to_json(only: [:id, :name]) %>,
    "currentUser": <%= current_user.to_json(only: [:id, :name, :prof_image_url],:include => :snaps) %> 
  }
</script>
