html {
  /*background: url('carlton_birds.png') no-repeat center center fixed;*/
  /*background: url('birds_in_tree.jpg') no-repeat center center fixed;*/
  /*background-size: cover;*/
  background-color: #77E4FF;
  /*background-color: #4FBD73;*/
}

body {
  background-color: rgba(238, 232, 213, 0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.message {
  cursor: pointer
}

.success {
  /*color: #859900;*/
  color: #4FBD73;
}

.error {
  /*color: #dc322f;*/
  color: #E9715A;
}

.title-area .name h1 a {
  /*color: #EA766C;*/
  color: #dc322f;
}

.top-bar {
  background-color: #FFFFFF;;
  /*background-color: rgb(238, 232, 213);*/

  border-bottom: 1px solid gray;
}

#left-bar{
  /*position: fixed;*/
}

#poem-list {
  /*background-color: rgba(240, 240, 240, 0.4);*/
  background-color: #FFFFFF;
  /*background-color: #B2F0FF;*/
  border-radius: 20px;
  border: 1px solid gray;
  padding: 0px;
}

.poem {
  /*background-color: rgba(238, 232, 213, 0.8);*/
  /*background-color: rgba(0, 43, 54, 0.9);*/
  min-height: 130px;
  text-align: center;
  border-bottom: 1px solid gray;
}

.poem .title {
  color: #586e75;
}

.poem .author {
  text-align: right;
  color:#2aa198;
}
