<h4 class='title'>
  <span class='highlight'>Welcome to HaiCoup</span><br/>
  a place to share haikus and<br/>
  short poetry
</h4>

<p>
  To add your own words, sign in with your Twitter account. The content of your poem will automatically be tweeted on you're behalf and saved with HaiCoup. If you don't want a particular poem to be tweeted (but still shared on HaiCoup) just uncheck the tweet? checkbox before submitting.
</p>

<h4 class='title'>
  What's a haiku?
</h4>

<p>
  Japenese poem<br/>
  to learn more ask the wise one:<br/>
  <a href= 'http://en.wikipedia.org/wiki/Haiku' >wikipedia</a>
</p>

<h4 class='title'> Origins </h4>
<p>
  This project was created by <a href= 'ekathepoet.toomanynames.com'> Anirudh </a>, who, according to twitter, is "A proud @sacpo poet. A programmer. An avid chai sipper. A life freestyler." 
</p>

<p>
  HaiCoup was built with Rails, Backbone.js, JQuery, SASS, the Twitter API, and of course HTML, and tested with rSpec, Capybara, and Jasmine. This app couldn't have existed without the incredible open source community behind all of those and many other technologies, and tons of tutorials. The code is available for you to review, fork, copy, be horrified by on <a href='https://github.com/anirudh-eka/haiku_app'> github</a>.
</p>